* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 100%;
  background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('./images/bg.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card {
  width: 80%; 
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.7); 
  padding: 20px; 
  border-radius: 10px;
}

h1 {
  color: #091b4ebf;
}

button {
  margin-top: 20px;
  width: 130px;
  height: 30px;
  border-radius: 30px;
  border: 1px;
  cursor: pointer;

}

button:hover {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,103,1) 35%, rgba(0,212,255,1) 100%);
  
}